# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.idea
.vscode
dist
build

# dependencies
node_modules

# IDEs and editors
.project

# IDE - VSCode
# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
.nx/cache